.input-request{
  margin: 15px;
}

.btn-request{
  margin: 10px;
}

.pr-container {
  display: flex;
  width: 100%; 
  justify-content: space-around; 
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  width: 380px;
}
.card{
  background-color: #c0c0c0;
  width: 150px;
  margin: 20px;

}
.product {
  width: 150px;
  height: 125px;
  
}

/* .product-name{
  pointer-events: none;
}
 */
