.input-request{
  margin: 15px;
}

.btn-request{
  margin: 10px;
}
/* .card{
  background-color: #c0c0c0;
  
} */
.product {
  width: 150px;
  height: 125px;
  pointer-events: none;
}

.product-name{
  background-color: #c0c0c0;
  width: 150px;
  height: 125px;
  pointer-events: none;
}

/* .pr-container {
  background-color: #c0c0c0;
  height: 300px;
  width: 300px;  
} */