.header{
    width: 100%;
    background:linear-gradient(to bottom, #abd5aa 5%, #228B22 100%);
    box-shadow:inset 0px 1px 0px 0px #e3f1e3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}