*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  position: relative;
  justify-content: center;
}

.header{
  position: absolute;
}

.input-request{
  align-items: center;
  justify-content: center;
  display: flex;
}

.product {
  width: 150px;
  height: 125px;
}
